footer{
    background-color: #cc3563;
    height: 200px;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 150px;
}

footer .footer-el{
    display: flex;
    justify-content: center;
    
}

footer p{
    color: white;
    text-align: center;
    padding-top: 35px;
    font-family: Roboto;
}

.footer-el img{
    margin: 0 15px;
}

.footer-el a{
    text-decoration: none;
}